/* Coolors Exported Palette - https://coolors.co/688e26-faa613-f44708-a10702-000000 */

/* CSS HEX */
--olive-drab-3: #688e26ff;
--chrome-yellow: #faa613ff;
--red-orange-color-wheel: #f44708ff;
--rufous: #a10702ff;
--black: #000000ff;

/* CSS HSL */
--olive-drab-3: hsla(82, 58%, 35%, 1);
--chrome-yellow: hsla(38, 96%, 53%, 1);
--red-orange-color-wheel: hsla(16, 94%, 49%, 1);
--rufous: hsla(2, 98%, 32%, 1);
--black: hsla(0, 0%, 0%, 1);

/* SCSS HEX */
$olive-drab-3: #688e26ff;
$chrome-yellow: #faa613ff;
$red-orange-color-wheel: #f44708ff;
$rufous: #a10702ff;
$black: #000000ff;

/* SCSS HSL */
$olive-drab-3: hsla(82, 58%, 35%, 1);
$chrome-yellow: hsla(38, 96%, 53%, 1);
$red-orange-color-wheel: hsla(16, 94%, 49%, 1);
$rufous: hsla(2, 98%, 32%, 1);
$black: hsla(0, 0%, 0%, 1);

/* SCSS RGB */
$olive-drab-3: rgba(104, 142, 38, 1);
$chrome-yellow: rgba(250, 166, 19, 1);
$red-orange-color-wheel: rgba(244, 71, 8, 1);
$rufous: rgba(161, 7, 2, 1);
$black: rgba(0, 0, 0, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #688e26ff, #faa613ff, #f44708ff, #a10702ff, #000000ff);
$gradient-right: linear-gradient(90deg, #688e26ff, #faa613ff, #f44708ff, #a10702ff, #000000ff);
$gradient-bottom: linear-gradient(180deg, #688e26ff, #faa613ff, #f44708ff, #a10702ff, #000000ff);
$gradient-left: linear-gradient(270deg, #688e26ff, #faa613ff, #f44708ff, #a10702ff, #000000ff);
$gradient-top-right: linear-gradient(45deg, #688e26ff, #faa613ff, #f44708ff, #a10702ff, #000000ff);
$gradient-bottom-right: linear-gradient(135deg, #688e26ff, #faa613ff, #f44708ff, #a10702ff, #000000ff);
$gradient-top-left: linear-gradient(225deg, #688e26ff, #faa613ff, #f44708ff, #a10702ff, #000000ff);
$gradient-bottom-left: linear-gradient(315deg, #688e26ff, #faa613ff, #f44708ff, #a10702ff, #000000ff);
$gradient-radial: radial-gradient(#688e26ff, #faa613ff, #f44708ff, #a10702ff, #000000ff);